<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{> styles }}
  </head>

  <body class="{{ page.body_class }}">
    {{> body }}

    {{> scripts }}
    {{> google-analytics }}
  </body>
</html>
