// vendor/bower_components is included in the Sass import path
// Syntax highlighting (has no dependencies)
@import 'syntax';

// Custom
h1 {
  position: relative;
  z-index: 1;

  // keyframes animation origin
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transform: translate(0, 0);
  transition: transform 500ms;

  &.move {
    // keyframes animation destination
    -webkit-transform: translate(0px, 50px);
    transform: translate(0px, 50px);
  }
}

table {
  margin: 0 auto;
  position: relative;
  bottom: 80px;
  opacity: .5;
  z-index: 0;

  // keyframes animation origin
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transform: translate(0, 0);
  transition: transform 500ms;

  &.move {
    // keyframes animation destination
    -webkit-transform: translate(0px, -50px);
    transform: translate(0px, -50px);
  }
}

th {
  width: 100px;
  text-align: center;
}

th,
td {
  border: 1px solid #000;
}
