// vendor/bower_components is included in the Sass import path
// Syntax highlighting (has no dependencies)
@import 'syntax';

// Custom
body {
  padding-top: 50px;
}

.top {
  position: relative;
  z-index: 1;
  width: 200px;
  margin: 0 auto;

  // .moved the completed animation state and is toggled on selection
  &.moved {
    width: 500px;
  }
}

.bottom {
  margin: 50px auto;
  position: relative;
  bottom: 110px;
  opacity: .1;
  z-index: 0;

  // .moved the completed animation state and is toggled on selection
  &.moved {
    opacity: 1;
  }
}

th {
  width: 100px;
  text-align: center;
}

th,
td {
  border: 1px solid #000;
}
