---
layout: default.hbs
title: 'Liftoff'
body_class: 'index'
base_url: ''
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      {{#times 10}}
        {{> article }}
      {{/times}}
    </div>
  </div>
</div>
