---
layout: default.hbs
title: 'Liftoff'
body_class: 'index'
base_url: ''
---

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center" style="position: absolute; top: 35vh;">
      <h1 id="top"><span class="em em-rocket"></span> Liftoff</h1>
      <table id="bottom">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>4/17</th>
            <th>4/18</th>
            <th>4/19</th>
            <th>4/20</th>
            <th>4/21</th>
          </tr>
          <tr>
            <td>1:00</td>
            <td>2:00</td>
            <td>3:00</td>
            <td>4:00</td>
            <td>5:00</td>
          </tr>
          <tr>
            <td>1:00</td>
            <td>2:00</td>
            <td>3:00</td>
            <td>4:00</td>
            <td>5:00</td>
          </tr>
          <tr>
            <td>1:00</td>
            <td>2:00</td>
            <td>3:00</td>
            <td>4:00</td>
            <td>5:00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<p style="position:absolute; top: 0; right: 0;">This <span class="em em-hankey"></span> is da <span class="em em-bomb"></span></p>
